extends ./layout/master.jade

block head
	+addStyle("/css/index.css")
	+addStyle("/css/loader.css")
	+addScript("/js/index.js")
	
block body
	include ./ui/gallery.jade
	
	div(data-bind="disableTouch:isLoading")
		gallery(params="images:images")
		.overlay(data-bind="fadeVisible:isLoading")
		.loaderContainer(data-bind="fadeVisible:isLoading"): .loader
		
		.footer
			button.btn.btn-primary.btn-lg.btn-block(data-bind="click:captureImage") Take Photo