html, body
	margin 0px
	padding 0px
	
body
	background-color #ddd
	
.disabledTouch
	pointer-events none

.overlay
	position absolute
	top 0%
	left 0%
	
	width 100%
	height 100%
	background-color rgba(221,221,221,0.5)
	
gallery
	width 100%
	height 100%
	
	canvas
		width 100%
		height 100%

.loaderContainer
	position absolute
	top 50%
	left 50%
	
	width 200px
	height 200px
	z-index 1
	
	transform translate(-100px,-100px)
	
	background-color rgba(255,255,255,0.5)
	
	border-radius 20px
	
.footer
	width 100%
	padding 30px
	
	position absolute
	bottom 0px
