mixin addScript(src)
	script(src=src,type="text/javascript")
	
mixin addStyle(src)
	link(href=src,rel="stylesheet",type="text/css")
	
mixin addCommonJs()
	+addScript("js/common.js")
	
mixin addPaperJs()
	+addScript("libs/paper/dist/paper-full.min.js")
	
mixin addJQuery()
	+addScript("libs/jquery/dist/jquery.min.js")
	+addScript("libs/jquery-ui/jquery-ui.js")
	+addScript("libs/jquery.transform.js/jquery.transform2d.js")

mixin addBootstrap()
	+addScript("libs/bootstrap/dist/js/bootstrap.min.js")
	+addStyle("libs/bootstrap/dist/css/bootstrap.min.css")

mixin addKnockout()
	+addScript("libs/knockout/dist/knockout.js")
	+addScript("libs/knockout-postbox/build/knockout-postbox.js")

mixin addUnderscore()
	+addScript("libs/underscore/underscore-min.js")
